{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Olá, {{ name }}!
</h1>
<div class="content">
    <h1 style="text-align: center">Todos os registros</h1>
    <table>
        <tr>
            <th class="th_usuario">Usuário</th>
            <th class="th_usuario">Contato</th>
            <th class="th_usuario">Canal</th>
            <th class="th_usuario">Atendimento</th>
            <th class="th_usuario">Associado</th>
            <th class="th_usuario">Demanda</th>
            <th class="th_usuario">Houve oferta de produto?</th>
            <th class="th_usuario">Qual?</th>
            <th class="th_usuario">Efetivou?</th>
            <th class="th_usuario">Tempo médito gasto</th>
            <th class="th_usuario">Horário</th>
        </tr>
        {% for register in registers %}
        <tr>
            <td>{{ register.user.name }}</td>
            <td>{{ register.contact }}</td>
            <td>{{ register.channel }}</td>
            <td>{{ register.attendance }}</td>
            <td>{{ register.associate }}</td>
            <td>{{ register.demand }}</td>
            <td>{{ register.product_offer }}</td>
            <td>{{ register.product }}</td>
            <td>{{ register.effective }}</td>
            <td>{{ register.time_spent }}</td>
            <td>{{ register.time_hour }}</td>
            <td class="button_apagar" >
                 <a href="/delete/{{ register.id }}">Apagar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</div>
{% endblock %}