{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Registro de usuários
</h1>
<div class="content" style="align-items: center">
    <h3 class="title">Usuários</h3>
    <form action="">
        <table>
            <tr>
                <th class="th_usuario">Nome</th>
                <th class="th_usuario">Agência</th>
                <th class="th_usuario">Administrador</th>
                <th class="th_usuario">Ações</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.agency }}</td>
                <td>{{ user.admin }}</td>
                <td>
                    <a href="/del/{{ user.id }}">Apagar</a><br>
                    <a href="/edit/{{ user.id }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}